blosc==1.10.6
bokeh==2.4.2
dask==2022.2.0
dask-kubernetes==2022.1.0
distributed==2022.2.0
ipywidgets==7.6.5
jupyterlab==3.3.1
jupyter-server-proxy==3.2.1
lz4==4.0.0
matplotlib==3.5.1
mkdocs==1.2.3
mkdocs-material==8.2.5
nbmake==1.2.1
requests==2.25.0
rioxarray==0.9.1
xarray==0.20.2
