blosc2==3.12.2
bokeh==2.4.2
dask==2022.2.1
dask-kubernetes==2022.1.0
distributed==2022.2.1
google-cloud-storage==2.1.0
ipywidgets==7.6.5
jupyterlab==3.3.1
jupyter-server-proxy==3.2.1
lz4==4.0.0
matplotlib==3.5.1
nbmake==1.2.1
requests==2.27.1
rioxarray==0.10.2
xarray==2022.3.0
