name: notebook-tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  notebook-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Bootstrap environment
        run: |
          curl -O https://repo.anaconda.com/miniconda/Miniconda3-py38_4.11.0-Linux-x86_64.sh
          bash Miniconda3-py38_4.11.0-Linux-x86_64.sh -bp $HOME/miniconda
          echo "$HOME/miniconda/bin" >> $GITHUB_PATH
          $HOME/miniconda/bin/pip install -r requirements-notebooks.txt
      - name: Run all notebooks
        run: $HOME/miniconda/bin/pytest --nbmake 1-small-scale/*ipynb
